body{
    color:rgba(0,0,3,255);
    font-family:"Roboto condensed", "sans-serif";
    margin-top: 90px;
}

h1{
    font-weight: 300;
    margin:0px;
    margin-left: 10px;
    font-family: 'Monaco', 'sans-serif';
}

a {
    text-decoration:none;
}

a:hover{
    text-decoration:underline overline;
}

#main-header{
    border-bottom:1px solid black;
}

#main-header::before{
    content:"";
    display: block;
    height: 30px;
    widows: 10px;
    background: rgba(31, 23, 23, 0.438);
}

#top-stories{
    width:1000px;
    margin:auto;
    margin-top: 20px;
}

article{
    max-width: 30%;
    display:inline-block;
    margin:0px;
    padding: 10px;
    box-shadow: 5px 5px 20px rgba(32, 199, 123, 100);
}

.article-img {
    width:100%;
    height:220px;
    background-size: cover !important;
    background-position: center !important;
}
article>div:active{
    width:220px;
    height: 220px;
    border-radius:100%;
    margin:0px;
    margin-right: 100px;
    opacity: .5;
}
.top-input{
    border-bottom: 1px solid #fff;
    margin-left:20px;
    width:50%;
}
.position{
    position:fixed;
    top:0px;
    width:100%;
}